#features {
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  .feature {
    text-align: center;
    color: #fff;
    padding: 50px;
    i {
      font-size: 50px;
    }
  }
}
@media screen and (max-width: 599px) {
  #features {
    .feature {
      padding: 10px;
      h5 {
        font-size: 20px;
      }
      i {
        font-size: 36px;
      }
    }
  }
}
