#projects {
  $text-color: #607d8b;

  padding: 3rem 0;
  .row {
    margin-bottom: 0;
  }
  .project {
    &__item-left {
      img {
        max-width: 100%;
        height: auto;
      }
    }
    &__item-right {
      display: flex;
      flex-direction: column;
      i {
        font-size: 32px;
      }
      h5 {
        font-weight: 500;
        margin-top: 0;
      }
      p {
        font-size: 16px;
        opacity: 0.5;
        margin-bottom: 1rem;
      }
      h5,
      p {
        text-align: left;
      }
    }
    &__list-item {
      display: flex;
      &:nth-child(2) {
        .project__icon {
          color: #f44336;
        }
      }
      &:nth-child(3) {
        .project__icon {
          color: #673ab7;
        }
      }
    }
    &__feature {
      margin-left: 25px;
    }
    &__icon {
      color: #00bcd4;
    }
  }

  .valign-wrapper {
    padding: 3rem 0;
    &:nth-child(1) {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
  }
  @media screen and (max-width: 992px) {
    .valign-wrapper {
      flex-direction: column;
    }
    .project__item-right {
      margin-top: 40px;
      &:nth-of-type(1) {
        order: 2;
      }
    }
  }
  @media screen and (max-width: 600px) {
    .project__item-right {
      i {
        font-size: 26px;
      }
      h5 {
        font-size: 20px;
      }
      p {
        font-size: 14px;
      }
    }
  }
}
